*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
	margin:0;
padding:0;
box-sizing: border-box;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
background: linear-gradient(-90deg, black, #666);
}


header{
	margin-top:5px;
	height:120px;
	width:100%;
	/*background-color:green;*/
	}

.container{
	padding:0, auto;
	margin:0, auto;
	/*width:90%;*/
}


.navbar{
	background-color:rgba(58, 59, 73, 0.6);

	}



.nav-container{
	width:90%;
	margin:auto;
	/*background-color:red;*/
}

.nav-container .logo{
	float:left;
	margin-top:10px;
	}

.nav-container img{
	/*background-color:red;*/
	}



.page-scroll a{
	color:#fff;
	}


.page-scroll a:hover{
	color:#000;
	}




.navbar-toggle{
	border-color: #fff;
	}

.navbar-toggle .icon-bar{
    background-color: #ddd;
	}


.jumbotron{
	color:#fff;
	background-color:red;
	background:none;
	text-align: center;
	}


.jumbotron .title{
	margin-top:120px;
	margin-bottom:220px;
	}


	hr{
		border-top:1px solid palegoldenrod;
	}
	


.about-section{

	font-family:georgia,'Josefin Sans', sans-serif;
	padding:0;

	}

	.about{
		font-size:200%;
	}

	#about{
	/*background-color:blue;*/
	height:100px;
	}


	.about-section #left-hr{
		width:100%;
		float:right;
		}


	.about-section #right-hr{
		width:100%;
		float:left;
		}
	


	.para{
		background:rgba(81, 66, 74, 0.25);
		border-radius: 10px;
		margin-bottom:200px;
		}



.para p{
	line-height: 1.5;
	width:80%;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	font-size: 120%;
	color:#fff;
	text-align:center;
	padding:20px;
	}



	#tool-container{
		/*background-color:#ccc;*/
	}
#left-iconbar{
	background-color: #6C6C72;
	padding:10px;
	margin-top:10px;

}


#right-iconbar{
	background-color:#7b7b83;
	padding:10px;
	margin-top:10px;

}

	.software-name{
		font-size:100%;
		color:#fff;
		text-align:center;
	/*	background-color:red;*/
		margin:auto;
		margin-top:5px;
	}
	

	.icon-container{
		width:50px;
		height:50px;
		margin:auto;
		}
	

	.icon-container img{
		height:100%;
		width:100%;
		}

	#column{
		margin-bottom:40px;
		}



	#skills{
		height:100px;
		/*background-color:red;*/
	}

	h4{
		/*background-color:red;*/

		text-align:center;
		height:50px;
		color:#fff;
		/*border-bottom: 1px solid red;*/
		}

















footer{
	background-color:#aaa;
	height:100px;
	margin-top:10px;
}





@media screen and (max-width: 768px){


.jumbotron .title{
	margin-top:120px;
	margin-bottom:150px;
	}


.jumbotron .title p{
		/*color:palegoldenrod;*/
		font-size:90%;
		}



	.para{
		font-size:80%;
	}

.para p{
	width:90%;

	}


}




