*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
	margin:0;
padding:0;
box-sizing: border-box;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
background: linear-gradient(-90deg, black, #666);
}


header{
	margin-top:5px;
	height:120px;
	width:100%;
	/*background-color:green;*/
	}

.container{
	padding:0, auto;
	margin:0, auto;
	/*width:90%;*/
}


.navbar{
	background-color:rgba(58, 59, 73, 0.6);

	}



.nav-container{
	width:90%;
	margin:auto;
	/*background-color:red;*/
}

.nav-container .logo{
	float:left;
	margin-top:10px;
	}

.nav-container img{
	/*background-color:red;*/
	}



.page-scroll a{
	color:#fff;
	}


.page-scroll a:hover{
	color:#000;
	}




.navbar-toggle{
	border-color: #fff;
	}

.navbar-toggle .icon-bar{
    background-color: #ddd;
	}


.jumbotron{
	color:#fff;
	/*background: linear-gradient(-90deg, black, gray);*/
	background:none;
	text-align: center;
	}

.jumbotron .title{
	margin-top:120px;
	margin-bottom:350px;
	}


.about-section{
	font-family:georgia,'Josefin Sans', sans-serif;
	}


	.about-section .decoration{
		background-color:blue;
	}




.about-section .box hr{
	border-top: 1px solid #9b1a1a;
	}

	.about-section hr{
		float:left;
		width:35%;
	border-top: 1px solid #9b1a1a;
	}


	

.about{
	font-size: 300%;
	}




.para p{
	margin-top:50px;
	margin-bottom:50px;
	font-size: 120%;
	}



	.sample-section .box{
		background-color:#ddd;
		height:300px;
		margin:10px;
		}

	.sample-section .sample{
		width:100%;
		margin:auto;
		height:200px;
		}

	










footer{
	background-color:#aaa;
	height:100px;
	margin-top:10px;
}





@media screen and (max-width: 768px){


}




