*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
	margin:0;
padding:0;
box-sizing: border-box;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
background: linear-gradient(-90deg, black, #666);
}


header{
	margin-top:5px;
	height:120px;
	width:100%;
	/*background-color:green;*/
	}




.navbar{
	background-color:rgba(58, 59, 73, 0.6);

	}



.nav-container{
	width:90%;
	margin:auto;
	/*background-color:red;*/
}

.nav-container .logo{
	float:left;
	margin-top:10px;
	}

.nav-container img{
	/*background-color:red;*/
	}



.page-scroll a{
	color:#fff;
	}


.page-scroll a:hover{
	color:#000;
	}




.navbar-toggle{
	border-color: #fff;
	}

.navbar-toggle .icon-bar{
    background-color: #ddd;
	}

.container{
	padding:0, auto;
	margin:0, auto;
	/*background-color: #ccc;*/
	width:90%;
	}




.jumbotron{
	color:#fff;
	background-color:red;
	background:none;
	text-align: center;
	}


.jumbotron .title{
	margin-top:120px;
	margin-bottom:220px;
	}


	hr{
		border-top:1px solid palegoldenrod;
		}
	


.about-section{

	font-family:georgia,'Josefin Sans', sans-serif;
	padding:0;

	}

	.about{
		font-size:200%;
		}

	#about{
	/*background-color:blue;*/
	height:100px;
	}


	.about-section #left-hr{
		width:100%;
		float:right;
		}


	.about-section #right-hr{
		width:100%;
		float:left;
		}
	


	.para{
		background:rgba(81, 66, 74, 0.25);
		border-radius: 10px;
		margin-bottom:200px;
		}



.para p{
	line-height: 1.5;
	width:80%;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	font-size: 120%;
	color:#fff;
	text-align:center;
	padding:20px;
	}


	.skill-section{
		/*background-color:blue;*/
		height:70px;
		}


		#skills{
		height:100px;
		/*background-color:red;*/
		}

		.skills{
			color:#fff;
			text-align:center;
			font-size:200%;
		}


		.skill-section .right-bar{
			width:35%;
			float:left;
			height:40px;
			/*background-color:green;*/
			}

		.skill-section .mid-bar{
			text-align: center;
			width:30%;
			height:40px;
			float:left;
			color:#fff;
		/*	background-color:red;*/
			}


			.mid-bar h3{
				margin:auto;
				font-size:190%;
				}

		.skill-section .left-bar{
			width:35%;float:left;
			height:40px;
		/*	background-color:green;*/
			}



		.skill-section hr{
			width:70%;
			margin-top:18px;
			border:none;
			height:1px;
			background-color:palegoldenrod;
			/*background-color:red;*/
		}

		.skill-section .left-bar hr{
		float:right;
		}




/*..................icon sections.................*/


	#left-iconbar{
		background-color: #6C6C72;
		padding:10px;
		margin-top:10px;
		}


	#right-iconbar{
		background-color:#7b7b83;
		padding:10px;
		margin-top:10px;
		}

	.software-name{
		font-size:100%;
		color:#fff;
		text-align:center;
	/*	background-color:red;*/
		margin:auto;
		margin-top:5px;
		}
	

	.icon-container{
		width:50px;
		height:50px;
		margin:auto;
		}
	

	.icon-container img{
		height:100%;
		width:100%;
		}

	#column{
		margin-bottom:40px;
		}





	h4{
		/*background-color:red;*/

		text-align:center;
		height:50px;
		color:#fff;
		/*border-bottom: 1px solid red;*/
		}

















footer{
	background-color:#aaa;
	height:100px;
	margin-top:10px;
}






/*
...................smaller device screen with media query...................
*/
@media screen and (max-width: 768px){


	.jumbotron .title{
		margin-top:120px;
		margin-bottom:150px;
		}


	.jumbotron .title p{
			/*color:palegoldenrod;*/
			font-size:90%;
			}



	.para{
		font-size:80%;
		}

	.para p{
		width:90%;
		}



		.skill-section .right-bar{
			width:20%;
			float:left;
			height:40px;
			/*background-color:green;*/
			}


	.skill-section .mid-bar{
			text-align: center;
			width:60%;
			height:40px;
			float:left;
			color:#fff;
		/*	background-color:red;*/
			}


		.skill-section .left-bar{
			width:20%;
			float:left;
			height:40px;
		/*	background-color:green;*/
			}


	.mid-bar h3{
		margin:auto;
		margin-top:8px;
		font-size:120%;
		}





	.skill-section hr{
		width:90%;
		}


	.skill-section .left-bar hr{
		float:left;
		}
	.skill-section .right-bar hr{
		float:right;
		}

}




